/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap");
/* custom css variables */
:root {
  --main-color: #5769cc;
  --second-color: #ef5350;
  --bg-black-900: #000000;
  --bg-black-50: #f2f2f2;
  --text-black-900: #000000;
  --text-black-700: #555555;
  --text-black-600: #666666;
  --text-black-300: #bbbbbb;
  --outer-shadow: 3px 3px 3px #d0d0d0, -3px -3px 3px #f8f8f8;
  --outer-shadow-0: 0 0 0 #d0d0d0, 0 0 0 #f8f8f8;
  --inner-shadow: inset 3px 3px 3px #d0d0d0, inset -3px -3px 3px #f8f8f8;
  --inner-shadow-0: inset 0 0 0 #d0d0d0, inset 0 0 0 #f8f8f8;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  margin: 0;
  padding: 0;
}
body {
  background-color: var(--bg-black-50);
  font-family: "Raleway", sans-serif;
}
html {
  scroll-behavior: smooth;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
::before,
::after {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
button {
  outline: none;
  border: none;
  background: none;
}
img {
  max-width: 100%;
  vertical-align: middle;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* ------------------
  Resonsive start
-------------- */

/* small */
@media (min-width: 575px) {
  .container {
    width: 540px;
  }
}
/* Medium */
@media (min-width: 767px) {
  .container {
    width: 720px;
  }
}
/* Large */
@media (min-width: 992px) {
  .container {
    width: 960px;
  }
}
/* x-Large */
@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}
/* ------------------
  Resonsive end
-------------- */
.outer-shadow {
  box-shadow: var(--outer-shadow);
}
.inner-shadow {
  box-shadow: var(--inner-shadow);
}
.hover-in-shadow {
  position: relative;
  z-index: 1;
}
.hover-in-shadow:hover {
  box-shadow: var(--outer-shadow-0);
}
.hover-in-shadow::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: all 0.3s ease;
  z-index: -1;
}
.hover-in-shadow:hover::after {
  box-shadow: var(--inner-shadow);
}
/* sticky header start */
.sticky {
  --bg-black-900: #ffffff;
  --bg-black-50: #2b2c2f;
  --text-black-900: #ffffff;
  --text-black-700: #ffffff;
  --text-black-600: #bbbbbb;
  --outer-shadow: 3px 3px 3px #222327, -3px -3px 3px #363636;
  --outer-shadow-0: 0 0 0 #222327, 0 0 0 #363636;
  --inner-shadow: inset 3px 3px 3px #222327, inset -3px -3px 3px #363636;
  --inner-shadow-0: inset 0 0 0 #222327, inset 0 0 0 #363636;
  padding: 15px 0;
  background-color: var(--bg-black-50);
  border: none;
}
/* sticky header end */
/* Main Heading Component start */
.main-heading {
  text-align: center;
}
.main-heading h4 {
  color: var(--text-black-900);
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.7px;
  margin-bottom: 8px;
}
.main-heading .points {
  width: 40px;
  height: 10px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}
.main-heading .points span {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: var(--text-black-700);
  margin: 0 auto;
}
.main-heading p {
  color: var(--text-black-600);
  font-size: 17px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.7px;
  width: 550px;
  max-width: 100%;
  margin: 0 auto;
}
/* Main Heading Component end */
/* ------------
header start
-------------- */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-height: 70px;
  padding: 15px 0;
  border-bottom: 2px solid var(--text-black-300);
  z-index: 1000;
  transition: padding 0.3s ease;
}
.sticky {
  padding: 10px 0;
  border: 0;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .logo {
  display: inline-block;
  width: fit-content;
  height: 40px;
  line-height: 36px;
  font-size: 24px;
  text-align: center;
  color: var(--bg-black-900);
  font-weight: bold;
  text-transform: uppercase;
}
.header .logo i {
  margin: 0 2px;
  color: var(--second-color);
}
.header .nav-menu ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .nav-menu ul li a {
  color: var(--text-black-700);
  font-size: 15px;
  font-weight: 500;
  text-transform: capitalize;
  margin: 0 1rem;
  transition: all 0.3s ease;
  letter-spacing: 0.7px;
}
.sticky .nav-menu ul li a {
  color: var(--text-black-600);
}
.header .nav-menu ul li a:hover {
  color: var(--main-color);
  border-bottom: 0.1rem solid var(--main-color);
  padding-bottom: 0.5rem;
}
.hamburger-btn {
  font-size: 18px;
  color: var(--text-black-900);
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
  display: none;
}
@media (max-width: 991px) {
  .header .hamburger-btn {
    display: inline-block;
  }
  .header .nav-menu ul {
    flex-direction: column;
    position: absolute;
    top: calc(100% + 40px);
    right: 0;
    width: 250px;
    height: 100vh;
    background-color: var(--text-black-300);
    justify-content: flex-start;
    font-weight: 500;
    display: none;
  }
  .sticky .nav-menu ul {
    background-color: var(--bg-black-50);
  }
  .header .nav-menu ul li {
    width: 100%;
  }
  .header .nav-menu ul li a {
    padding: 15px 5px;
    font-size: 17px;
    color: var(--text-black-900);
    display: block;
  }
  .sticky .nav-menu ul li a {
    color: var(--text-black-600);
  }
  .header .nav-menu ul.active {
    display: flex;
  }
}
.header .social-links {
  position: fixed;
  right: 0;
  top: 68px;
  z-index: 3000;
  width: 320px;
  height: 40px;
  background-color: var(--text-black-300);
  clip-path: polygon(0% 0, 100% 0%, 100% 100%, 5% 100%);
}

.sticky .social-links {
  top: 60px;
  background-color: var(--bg-black-50);
}
.header .social-links ul {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.header .social-links ul .links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header .social-links ul .links {
  flex-basis: 60%;
  height: 100%;
  padding: 0 15px;
}
.header .social-links ul .links a {
  color: var(--text-black-900);
  font-size: 22px;
  font-weight: 500;
  padding: 0 10px;
  transition: all 0.3s ease;
}
.sticky .social-links ul .links a {
  color: var(--text-black-600);
}
.header .social-links ul .links a:hover {
  color: var(--main-color);
}
.header .social-links ul .btn {
  flex-basis: 40%;
  background-color: var(--main-color);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  clip-path: polygon(0% 0, 100% 0%, 100% 100%, 10% 100%);
  cursor: pointer;
  transition: all 0.3s ease;
}
.header .social-links ul .btn a {
  color: white;
  font-size: 22px;
  font-weight: 500;
}
.header .social-links ul .btn:hover {
  background-color: var(--second-color);
}
/* ------------
header end
-------------- */
/* landing start */

.landing {
  height: 100vh;
}
.landing .text {
  position: absolute;
  top: 38%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}
.landing .text h1 {
  font-size: 40px;
  font-weight: 500;
  color: var(--bg-black-900);
}
.landing .text h1 span {
  color: var(--main-color);
}
.landing .text p {
  color: var(--text-black-600);
  font-size: 15px;
  line-height: 26px;
  letter-spacing: 0.7px;
  font-weight: 500;
}
@media (max-width: 991px) {
  .landing .text h1 {
    font-size: 38px;
  }
  .landing .text p {
    font-size: 14px;
  }
}
.landing .landing-img {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 300px;
}
.landing .landing-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
/* landing end */
/* first section start */
.first-section {
  background-color: white;
  padding-top: 80px;
  padding-bottom: 80px;
}

.first-section .row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.first-section .first-section-img,
.first-section .text {
  flex-basis: 50%;
}
@media (max-width: 991px) {
  .first-section .first-section-img,
  .first-section .text {
    flex-basis: 100%;
    margin-bottom: 30px;
  }
  .first-section .text .box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
}

@media (max-width: 767px) {
  .first-section .text {
    text-align: center;
  }
  .first-section .text .box {
    align-items: center;
  }
}
.first-section .first-section-img {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: left;
}
.first-section .first-section-img .img {
  flex-basis: 50%;
}
/* add sides info for watch pic start */

.first-section .left-info,
.first-section .right-info {
  flex-basis: 25%;
}
.first-section .first-section-img img {
  width: 100%;
  height: 350px;
  object-fit: contain;
}
.first-section .left-info {
  position: absolute;
  left: 18px;
  bottom: 7px;
  width: 150px;
}
.first-section .left-info span {
  font-size: 16px;
  font-weight: 600;
  color: var(--text-black-900);
  display: block;
  margin-bottom: 5px;
}
.first-section .left-info p {
  font-size: 14px;
  font-weight: 500;
  color: var(--text-black-600);
  line-height: 1.4;
}
.first-section .left-info::after {
  content: "";
  position: absolute;
  right: -65px;
  width: 65px;
  height: 1px;
  background-color: var(--main-color);
  top: 8px;
}
.first-section .right-info {
  position: absolute;
  right: 0;
  width: 150px;
  top: 124px;
}
.first-section .right-info span {
  font-size: 16px;
  font-weight: 600;
  color: var(--text-black-900);
  display: block;
  margin-bottom: 5px;
}
.first-section .right-info p {
  font-size: 14px;
  font-weight: 500;
  color: var(--text-black-600);
  line-height: 1.4;
}
.first-section .right-info .top {
  margin-bottom: 35px;
}

.first-section .right-info:before {
  content: "";
  position: absolute;
  left: -105px;
  top: 126px;
  width: 85px;
  height: 1px;
  background-color: var(--main-color);
}
.first-section .right-info::after {
  content: "";
  position: absolute;
  left: -33px;
  top: 10px;
  width: 25px;
  height: 1px;
  background-color: var(--main-color);
}
/* add sides info for watch pic end */
/* responsive watch pic start */
@media (max-width: 1200px) {
  .first-section .right-info {
    right: -20px;
  }
  .first-section .left-info {
    left: -50px;
  }
  .first-section .first-section-img {
    padding-right: 50px;
  }
}
@media (max-width: 991px) {
  .first-section .right-info {
    right: 67px;
  }
  .first-section .left-info {
    left: 85px;
  }
  .first-section .first-section-img {
    padding: 0;
  }
}
@media (max-width: 767px) {
  .first-section .right-info {
    right: -24px;
  }
  .first-section .left-info {
    left: -5px;
  }
}
@media (max-width: 575px) {
  .first-section .left-info,
  .first-section .right-info {
    display: none;
  }
  .first-section {
    padding-bottom: 0;
  }
  .first-section .first-section-img .img {
    flex-basis: 100%;
  }
}

/* responsive watch pic end */
@media (max-width: 767px) {
  .first-section .text {
    order: 2;
  }
}
.first-section .text .head {
  margin-bottom: 30px;
}
.first-section .text .head h3 {
  font-size: 38px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.8px;
  margin-bottom: 20px;
}
@media (max-width: 991px) {
  .first-section .text .head h3 {
    font-size: 35px;
  }
}
@media (max-width: 767px) {
  .first-section .text .head h3 {
    font-size: 30px;
  }
}
.first-section .text .head h3 span {
  color: var(--main-color);
}
.first-section .text .head p {
  font-size: 17.5px;
  line-height: 26px;
  color: var(--text-black-600);
  font-weight: 500;
  letter-spacing: 0.5px;
}
@media (max-width: 991px) {
  .first-section .text .head p {
    width: 80%;
    font-size: 15.5px;
  }
}
@media (max-width: 767px) {
  .first-section .text .head p {
    font-size: 13px;
    padding: 0;
    width: 100%;
  }
}
.first-section .text .box .inner-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 15px;
}
@media (max-width: 991px) {
  .first-section .text .box .inner-box {
    justify-content: center;
  }
}
.first-section .text .box .inner-box i {
  padding-right: 15px;
  color: var(--text-black-900);
  font-size: 17.5px;
}
.first-section .text .box .inner-box p {
  color: var(--text-black-600);
  font-size: 17.5px;
  margin: 0;
  font-weight: 500;
  line-height: 26px;
}
@media (max-width: 991px) {
  .first-section .text .box .inner-box p,
  .first-section .text .box .inner-box i {
    font-size: 15.5px;
  }
}
/* first section end */
/* second section start*/
.second-section .top,
.second-section .down {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.second-section .second-section-img,
.second-section .text {
  flex-basis: 50%;
}
@media (max-width: 767px) {
  .second-section .second-section-img,
  .second-section .text {
    flex-basis: 100%;
  }
}
.second-section .second-section-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.second-section .top .text {
  padding-left: 60px;
  padding-right: 20px;
}

.second-section .down .text {
  text-align: right;
  padding-right: 60px;
  padding-left: 20px;
}
@media (max-width: 767px) {
  .second-section .top .text,
  .second-section .down .text {
    padding: 60px 20px 0;
    text-align: center;
    margin-bottom: 30px;
  }
  .second-section .down .text {
    order: 2;
  }
}
.second-section .text h4 {
  font-size: 35px;
  font-weight: 600;
  color: var(--text-black-900);
  letter-spacing: 0.7px;
  margin-bottom: 25px;
}
@media (max-width: 991px) {
  .second-section .text h4 {
    font-size: 25px;
  }
}
.second-section .text p {
  color: var(--text-black-600);
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.7px;
  line-height: 30px;
}
@media (max-width: 991px) {
  .second-section .text p {
    font-size: 15px;
  }
}
.second-section .down .second-section-img {
  order: 2;
}
/* second section end*/
/* third section start */
.third-section {
  position: relative;
  background-color: var(--main-color);
  padding-top: 80px;
  min-height: 120vh;
}
/* main heading editing start */
.third-section .main-heading h4 {
  color: #fff;
}
.third-section .main-heading p {
  color: #fff;
}
.third-section .main-heading .points span {
  background-color: #fff;
}
/* main heading editing end */
.third-section .top {
  margin-bottom: 30px;
}
.third-section .video-container {
  display: block;
  width: 600px;
  height: 320px;
  position: relative;
  z-index: 3;
  margin: 0 auto;
  max-width: 100%;
}
.third-section .video-container #time {
  font-family: arial;
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  color: #eee;
  z-index: 333;
}
.third-section .video-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--afterBack, rgb(0, 0, 0, 45%));
  border: 3px solid #fff;
  transition: 0.5s ease;
}

.third-section .video-container #play-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  background-color: white;
  cursor: pointer;
  z-index: 33;
  border: none;
  outline: none;
  opacity: 0;
  transition: 0.5s ease;
}
.third-section .video-container:hover #play-btn {
  opacity: 1;
}

.third-section .video-container #play-btn i {
  color: var(--text-black-900);
  line-height: 40px;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.third-section .video-container video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.third-section .down {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  position: absolute;
  bottom: 0px;
  width: 100%;
  left: 0;
  min-height: 50vh;
}
@media (max-width: 767px) {
  .third-section .down {
    position: static;
  }
}
.third-section .down .box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
}
@media (max-width: 767px) {
  .third-section .down .box {
    flex-direction: column;
    padding-top: 30px;
  }
}
.third-section .down .box .inner-box {
  margin: 0 25px;
  text-align: center;
}
@media (max-width: 767px) {
  .third-section .down .box .inner-box {
    display: block;
    margin: 0 auto 40px;
  }
}
.third-section .down .box .inner-box i {
  font-size: 40px;
  font-weight: bold;
  color: var(--main-color);
  display: block;
  margin-bottom: 5px;
}
.third-section .down .box .inner-box .row {
  display: flex;
  justify-content: center;
  align-items: center;
}
.third-section .down .box .inner-box span {
  font-size: 40px;
  font-weight: bold;
  color: var(--text-black-900);
  display: block;
  margin-bottom: 5px;
}
.third-section .down .box .inner-box p {
  font-size: 10px;
  color: var(--text-black-600);
  letter-spacing: 0.7px;
  font-weight: bold;
}
/* third section end */
/* features section start */
.features-section {
  padding-top: 80px;
  padding-bottom: 80px;
  min-height: 100vh;
}
.features-section .box {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 60px;
}
@media (max-width: 991px) {
  .features-section .box {
    flex-direction: column;
    align-items: center;
  }
}
.features-section .box .inner-box {
  width: calc(100% / 3);
  padding: 15px;
}
@media (max-width: 991px) {
  .features-section .box .inner-box {
    width: 100%;
  }
}
.features-section .box .small-box {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 30px;
}
.features-section .box .left-box .small-box .text {
  margin-right: 15px;
}
.features-section .box .right-box .small-box .text {
  margin-left: 15px;
}
.features-section .box .small-box h4 {
  font-size: 20px;
  font-weight: bold;
  color: var(--text-black-900);
  margin-bottom: 15px;
  text-transform: capitalize;
}
.features-section .box .left-box .small-box {
  text-align: right;
}
.features-section .box .small-box p {
  color: var(--text-black-600);
  font-size: 13px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.7px;
}
.features-section .box .small-box i {
  color: var(--main-color);
  font-size: 30px;
}
.features-section .box .middle-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 991px) {
  .features-section .box .middle-box {
    margin-bottom: 30px;
  }
}
.features-section .box .middle-box .img {
  width: 310px;
  height: 300px;
}

.features-section .box .middle-box .img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
/* features section end */
/* testimonials section start */
.testimonials-section {
  background-color: #fff;
  padding-top: 80px;
}
.testimonials-section .testi-box {
  width: 100%;
  max-width: 800px;
  margin: auto;
  padding-top: 40px;
  position: relative;
}
.testimonials-section .testi-slider {
  overflow: hidden;
}
.testimonials-section .testi-slider-container {
  background-color: var(--bg-black-50);
  border-radius: 5px;
  display: flex;
  transition: margin 1s ease;
}
.testimonials-section .testi-slider-container .testi-item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  padding: 30px;
}
@media (max-width: 767px) {
  .testimonials-section .testi-slider-container .testi-item {
    display: block;
    text-align: center;
    padding: 30px 30px 60px;
  }
}

.testimonials-section .testi-item .left-box {
  flex-basis: 30%;
  text-align: center;
}
.testimonials-section .testi-item .right-box {
  flex-basis: 63%;
  padding-top: 15px;
}
@media (max-width: 767px) {
  .testimonials-section .testi-item .right-box,
  .testimonials-section .testi-item .left-box {
    flex-basis: 100%;
  }
}

.testimonials-section .testi-item .testi-img {
  border-radius: 50%;
  margin-bottom: 15px;
}
@media (max-width: 767px) {
  .testimonials-section .testi-item .testi-img {
    width: 250px;
    margin: 0 auto 15px;
  }
}
.testimonials-section .testi-item .testi-img img {
  width: 100%;
  border-radius: 50%;
  border: 10px solid transparent;
}
.testimonials-section .testi-item .rate i {
  color: #e1d67f;
}
.testimonials-section .testi-item .right-box h3 {
  font-size: 22px;
  text-transform: uppercase;
  color: var(--text-black-900);
  margin-bottom: 10px;
  font-weight: bold;
}
.testimonials-section .testi-item .right-box > span {
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--text-black-600);
  margin-bottom: 20px;
  display: block;
}
.testimonials-section .testi-item .right-box p {
  font-size: 15px;
  font-weight: 500;
  line-height: 26px;
  color: var(--text-black-600);
  display: block;
  margin-bottom: 30px;
}
.testimonials-section .testi-slider-nav {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}
@media (max-width: 991px) {
  .testimonials-section .testi-slider-nav {
    bottom: 15px;
  }
}
@media (max-width: 767px) {
  .testimonials-section .testi-slider-nav {
    bottom: 30px;
  }
}
.testimonials-section .testi-slider-nav span {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
  text-align: center;
  transition: all 0.3s ease;
}
.testimonials-section .testi-slider-nav span i {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  font-size: 18px;
  line-height: 35px;
  color: var(--main-color);
}
.testimonials-section .testi-slider-nav span:last-child {
  margin: 0;
}
.comment-btn {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 45px;
  height: 45px;
  background: var(--main-color);
  text-align: right;
  border-radius: 38px 0 5px;
  overflow: hidden;
  cursor: pointer;
}
.comment-btn i {
  line-height: 50px;
  font-size: 24px;
  padding-right: 6px;
  color: #fff;
  font-weight: 300;
}
/* more info start */
.faq-box {
  padding-top: 80px;
  position: relative;
  min-height: 80vh;
  display: flex;
}
.faq-box .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 767px) {
  .faq-box .container {
    flex-direction: column;
    padding: 0;
  }
  .faq-box {
    flex-direction: column;
  }
}
.faq-box .faq-text {
  width: 50%;
}
@media (max-width: 767px) {
  .faq-box .faq-text {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
}
.faq-box .info-img {
  width: 35%;
  position: absolute;
  bottom: 0;
  right: 0;
}
@media (max-width: 991px) {
  .faq-box .info-img {
    width: 50%;
  }
}
@media (max-width: 767px) {
  .faq-box .info-img {
    position: static;
    width: 100%;
  }
}

.faq-box .info-img img {
  width: 100%;
  object-fit: cover;
}

.faq-box .faq-text h4 {
  font-size: 30px;
  font-weight: bold;
  color: var(--text-black-900);
  text-transform: uppercase;
  margin-bottom: 15px;
}
@media (max-width: 991px) {
  .faq-box .faq-text h4 {
    font-size: 23px;
  }
}

.faq-box .faq-text h4 span {
  color: var(--main-color);
}
.faq-box .faq-text > p {
  color: var(--text-black-600);
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.7px;
  line-height: 26px;
  width: 95%;
  margin-bottom: 30px;
}
@media (max-width: 991px) {
  .faq-box .faq-text > p {
    font-size: 12px;
    width: 100%;
  }
}

.accordion .faq {
  background-color: var(--bg-black-50);
  padding: 15px;
  margin-bottom: 10px;
  cursor: pointer;
}
.accordion .faq .question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.accordion .faq .question h3 {
  font-size: 20px;
  font-weight: bold;
  color: var(--text-black-900);
}
@media (max-width: 991) {
  .accordion .faq .question h3 {
    font-size: 18px;
  }
}
.accordion .faq .question::after {
  content: "\002b";
  font-size: 40px;
  height: 25px;
  width: 25px;
  line-height: 25px;
  text-align: center;
  font-weight: normal;
  color: var(--text-black-700);
}
.accordion .faq.active .question::after {
  content: "\002D";
}
.accordion .faq .answer {
  max-height: 0px;
  overflow: hidden;
  transition: all 0.5s ease;
  animation: fade 1s ease-in-out;
}
.accordion .faq.active .answer {
  max-height: 300px;
  padding-top: 25px;
}
.accordion .faq .answer p {
  font-size: 15px;
  font-weight: 600;
  color: var(--text-black-700);
  line-height: 26px;
  letter-spacing: 0.7px;
}
@media (max-width: 991px) {
  .accordion .faq .answer p {
    font-size: 13px;
  }
}
@media (max-width: 767px) {
  .accordion .faq .answer p {
    font-size: 15px;
  }
}

@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

/* more info end */

/* testimonials section end */
/* forth section start */
.forth-section {
  height: 70vh;
  position: relative;
  background-image: url(../images/bg.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.forth-section::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--main-color);
  opacity: 0.9;
}
.forth-section .text {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  z-index: 333;
  color: #fff;
  transform: translate(-50%, -50%);
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
}
.forth-section .text h2 {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0 auto 30px;
}
@media (max-width: 991px) {
  .forth-section .text h2 {
    font-size: 35px;
  }
}
@media (max-width: 767px) {
  .forth-section .text h2 {
    font-size: 31px;
  }
}

.forth-section .text p {
  font-size: 13px;
  line-height: 26px;
  letter-spacing: 0.7px;
  font-weight: 600;
  width: 450px;
  margin: 0 auto 30px;
}

@media (max-width: 991px) {
  .forth-section .text p {
    width: 350px;
  }
}
.forth-section .text .btn {
  font-size: 13px;
  font-weight: bold;
  height: 40px;
  display: block;
  border-radius: 30px;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  width: 150px;
  line-height: 40px;
  color: #fff;
  background-color: var(--bg-black-900);
  transition: all 0.3s ease;
}
.forth-section .text .btn:hover {
  background-color: #fff;
  color: var(--main-color);
}

/* forth section end */
/* view section start*/
.view-section {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #fff;
}
.view-section .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 767px) {
  .view-section .row {
    flex-direction: column;
  }
}
.view-section .left-box,
.view-section .right-box {
  flex-basis: 40%;
}
@media (max-width: 767px) {
  .view-section .left-box {
    order: 1;
  }
}
.view-section .left-box .view-img {
  width: 350px;
  margin: 0 auto;
}
.view-section .left-box .view-img img {
  width: 100%;
  object-fit: cover;
}
.view-section .right-box .text {
  text-align: right;
}
@media (max-width: 767px) {
  .view-section .right-box .text {
    text-align: center;
    margin-bottom: 30px;
  }
}
.view-section .right-box .text h3 {
  font-size: 40px;
  font-weight: 600;
  color: var(--text-black-900);
  margin-bottom: 20px;
  text-transform: capitalize;
}
@media (max-width: 991px) {
  .view-section .right-box .text h3 {
    font-size: 30px;
  }
}
.view-section .right-box .text h3 span {
  color: var(--main-color);
}
.view-section .right-box .text p {
  color: var(--text-black-600);
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 15px;
}
@media (max-width: 991px) {
  .view-section .right-box .text p {
    font-size: 14px;
  }
}
.view-section .right-box .text p:last-child {
  font-size: 20px;
  color: var(--main-color);
  margin: 0;
}
@media (max-width: 991px) {
  .view-section .right-box .text p:last-child {
    font-size: 15px;
  }
}
/* latest news start */
.latest-news-section {
  padding-top: 80px;
  background-color: #fff;
  padding-bottom: 60px;
}
.latest-news-section .row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding-top: 30px;
}
.latest-news-section .box {
  width: 33.33%;
  padding: 10px;
}
@media (max-width: 991px) {
  .latest-news-section .box {
    width: 50%;
  }
}
@media (max-width: 767px) {
  .latest-news-section .box {
    width: 100%;
  }
}
.latest-news-section .box .box-img {
  width: 100%;
  height: 100%;
  opacity: 0.9;
  transition: all 0.5s ease;
}
.latest-news-section .box:hover .box-img {
  opacity: 1;
}
.latest-news-section .box .box-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.latest-news-section .box .box-text {
  background-color: var(--bg-black-50);
  padding: 15px;
  width: 90%;
  transform: translateY(-30px);
  transition: all 0.5s ease-in-out;
}
.latest-news-section .box:hover .box-text {
  transform: translateY(0);
  width: 100%;
}
.latest-news-section .box .box-text h4 {
  font-size: 19px;
  font-weight: bold;
  margin-bottom: 15px;
  color: var(--text-black-900);
}
.latest-news-section .box .box-text p {
  font-size: 15px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 0.7px;
  color: var(--text-black-700);
  margin-bottom: 30px;
}
.latest-news-section .box .box-text .btn {
  display: block;
  width: 120px;
  height: 30px;
  background-color: var(--main-color);
  font-size: 14px;
  font-weight: 600;
  line-height: 30px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  transition: all 0.5s ease;
}
.latest-news-section .box .box-text .btn:hover {
  background-color: var(--bg-black-900);
  color: #fff;
}
/* latest news end */

/* view section end*/
/* footer section start */
.footer-section .contact {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #333;
}
@media (max-width: 767px) {
  .footer-section .contact {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
.footer-section .contact .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
@media (max-width: 767px) {
  .footer-section .contact .container {
    flex-direction: column;
  }
}
.footer-section .contact .contact-item {
  flex-basis: 50%;
  padding: 15px;
}
.footer-section .contact .contact-item .contact-main-heading {
  margin-bottom: 15px;
  color: #fff;
}
.footer-section .contact .contact-main-heading h4 {
  font-size: 28px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.footer-section .contact .contact-main-heading h4 span {
  color: var(--main-color);
}
.footer-section .contact .contact-main-heading p {
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 0.7px;
}
.footer-section .contact .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-section .contact .row .input-group {
  flex-basis: 48%;
}
.footer-section .contact .row .input-group::after {
  z-index: -1;
}
.footer-section .contact .input-group {
  border-radius: 30px;
  transition: all 0.5s ease;
  margin-bottom: 15px;
  position: relative;
}
.footer-section .contact .input-group .input-control {
  width: 100%;
  background: none;
  border-radius: 30px;
  border: none;
  color: #fff;
  font-size: 13px;
}
.footer-section .contact .input-group input {
  padding: 15px;
  height: 40px;
}
.footer-section .contact .input-group::after {
  border-radius: 30px;
}
.footer-section .contact .input-group textarea {
  padding: 15px 15px 0;
  height: 150px;
  resize: none;
}
.footer-section .contact .btn {
  background-color: var(--main-color);
  display: block;
  width: 150px;
  height: 40px;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  border-radius: 30px;
  line-height: 40px;
  text-align: center;
  transition: all 0.5s ease;
  text-transform: capitalize;
}
.footer-section .contact .btn:hover {
  background-color: #fff;
  color: #333;
}
.footer-section .contact .contact-details .row {
  background-color: #2a2a2a;
  height: calc((260px - 30px) / 3);
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.footer-section .contact .contact-details .row .icon {
  padding: 0 30px;
}
.footer-section .contact .contact-details .row i {
  color: #fff;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  text-align: center;
  font-size: 18px;
  background-color: var(--main-color);
}
.footer-section .contact .contact-details .row p {
  font-size: 15px;
  font-weight: 600;
  color: var(--text-black-600);
  letter-spacing: 0.7px;
  line-height: 26px;
}
.footer-section .social-links {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: none;
  padding-top: 20px;
}
@media (max-width: 767px) {
  .footer-section .social-links {
    justify-content: center;
  }
}
.footer-section .social-links li {
  margin-right: 10px;
}
.footer-section .social-links li a {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  opacity: 0.6;
  transition: all 0.3s ease;
}
.footer-section .social-links li a:hover {
  opacity: 1;
}
.footer-section .social-links li:first-child a {
  background-color: #415788;
}
.footer-section .social-links li:nth-child(2) a {
  background-color: #2ca4f2;
}
.footer-section .social-links li:nth-child(3) a {
  background-color: #b7081b;
}
.footer-section .social-links li:nth-child(4) a {
  background-color: #ed7236;
}
.footer-section .social-links li a i {
  line-height: 40px;
  font-size: 15px;
  color: #fff;
}
/* footer section end */
/* copyright section start*/

.copy-right-section .container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.copy-right-section .container .copyright-text {
  padding: 25px;
  color: var(--text-black-600);
  font-weight: 600;
  font-size: 18px;
  text-transform: capitalize;
  line-height: 26px;
  letter-spacing: 0.7px;
  text-align: center;
}
.copy-right-section .container .copyright-text span {
  color: var(--main-color);
  font-weight: bold;
}
/* copyright section end*/
